<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1> Search Movies</h1>
    <div class="container">
        <form action="/ratings">
            <label for="mt1">Movie 1</label>
            <input type="text" id="mt1" name="mt1" placeholder="title..">
            <label for="mt2">Movie 2</label>
            <input type="text" id="mt2" name="mt2" placeholder="title..">
            <label for="mt3">Movie 3</label>
            <input type="text" id="mt3" name="mt3" placeholder="title..">
            <label for="lang">Language</label>
            <select id="lang" name="lang">
                <option value="any">Any</option>
                <option value="english">English</option>
                <option value="mandarin">Mandarin</option>
            </select>
            <!-- comments should be sent to me by email, or saved in a database-->
            <label for="comments">Comments (optional)</label>
            <textarea id="comments" name="comments" placeholder="Write something.." style="height:100px"></textarea>

            <input type="submit" value="Search">
        </form>
    </div>
</body>

</html>