<!DOCTYPE html>
<html>

<head>
  <title>Movies Sorted by Ratings</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>{{{row1}}}</p>
  <p>{{{row2}}}</p>
  <p>{{{row3}}}</p>
</body>

</html>