<!DOCTYPE html>
<html>

<head>
  <title>Movies Sorted by Ratings</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <table class="container">
      {{{body}}}
    </table>
  </div>
</body>

</html>